<!-- templates/index.html -->
{% extends 'base.html' %}

{% block title %}SAQ A{% endblock %}

{% block content %}
<div>
    <h2 class="mb-4 px-3 fs-1">Self-Assessment Questionnaire A</h2>
</div>
<div class="px-4">
    {% for question in saqa %}
    <div class="mb-3 divCont">
        <p class="fs-5 m-0 p-3 questionName">{{loop.index}}.&nbsp;&nbsp;{{ question }}</p>
        <div class="d-flex flex-column align-items-start p-3">
            <div class="d-flex">
                <input class="my-1 me-2" type="radio" value="1" name={{'saqa_' ~ loop.index}} id="yes">
                <label for="yes">Yes</label>
            </div>
            <div class="d-flex">
                <input class="my-1 me-2" type="radio" value="-1" name={{'saqa_' ~ loop.index}} id="no">
                <label for="no">No</label>
            </div>
            <div class="d-flex">
                <input class="my-1 me-2" type="radio" value="2" name={{'saqa_' ~ loop.index}} id="nonApp">
                <label for="nonApp">Not Applicable</label>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}